<a 
    routerLink="/"
    class="go-back"
>Go back</a>

<h1>{{ name }} ({{acronym}})</h1>

<div class="chart">
    @if(weatherForecastInfo) {
        <app-chart [weatherForecastInfo]="weatherForecastInfo"></app-chart>
    } @else {
        <app-skeleton></app-skeleton>
    }
</div>

<!-- week info -->
<p>
    Week periods
</p>

@if(weatherForecastInfo) {
    <app-swiper-periods [periods]="weatherForecastInfo.properties.periods"></app-swiper-periods>
} @else {
    <app-skeleton></app-skeleton>
}

