
<h1>{{ greet }}</h1>

<p>
    Select the weather forecast option
</p>

<!-- searcher -->
<div class="input-search">
    <input 
        type="text" 
        placeholder="Search city" 
        (input)="searchEventFn($event)"
    >
</div>

<div class="options">
    @for (option of weatherForecastOptionsFiltered; track $index) {
        <div class="option" [routerLink]="['/weather', option.acronym]">
            {{ option.name }}

            <p class="badge">
                {{ option.acronym }}
            </p>
        </div>
    }
</div>